# Node
node_modules

# Site-specific Config
public/.htaccess
public/wp-config.php

# Wordpress Core
public/wp

# Content
public/content/upgrade
public/content/cache
public/content/plugins/*
!public/content/plugins/.gitkeep
public/content/uploads/*
!public/content/uploads/.gitkeep

# Ignore the default WP themes
public/content/themes/twenty*

# Misc.
.DS_Store