{
	"theme": {
		"name": "THEME_SLUG",
		"path": "./public/app/themes/THEME_DIRECTORY"
	},
	"plugins": {
		"required": [
			"posts-to-posts"
		],
		"optional": [
			"wp-fastest-cache",
			"easy-wp-smtp"
		]
	}
}